body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 18px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #00ff6a; /* Web sayfasının arka plan rengi */
    color: #000000; /* Metin rengi */
}

h1 {
    color: #ffffff; /* Başlık rengi */
    font-size: 30px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}

p {
    color: #000000; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */ 
}

li {
    color: #ffffff; /* Başlık rengi */
    font-size: 2px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */ 
}

a {
    color: #4400ff; /* Başlık rengi */
    font-size: 24px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */ 
}
